# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# Data
data/raw/*
!data/raw/.gitkeep

# Output
outputs/*
!outputs/.gitkeep

# OS
.DS_Store
Thumbs.db